APP_NAME=identity-service

POSTGRES_HOST=localhost
POSTGRES_PORT=5432

POSTGRES_DB=identity_db

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

JWT_SECRET=gvu31xhwpGUYlOG511

JWT_EXPIRATION_MINUTES=15

REFRESH_TOKEN_DAYS=7